
<div class="container-fluid" id="header">
	
		<div class="color-layer">
			<div class="container">
			<img class="logo-header img img-responsive" src="images/trans-jj(light).png">	

		    <p class="lead"> Experiencia en carga pesada, atravez de toda Costa Rica</p>

		    <a href="" class="btn btn-lg jj-btn">Contáctenos</a>

		    <span class="glyphicon glyphicon-menu-down"></span>
		    </div>
		</div>

</div>